button{
  text-align: center;
  color: blue;
  font-size: 50px;
}
h1{
	text-align: center;
	color: #ffb3ff;
	font-size: 50px;
}
body{
	background: url("https://static1.squarespace.com/static/563bb893e4b0982e7bb3bcd3/t/565d316ce4b039a5bc8025d8/1448948101810/");
	background-size: 1666px;
}
p{
	text-align: center;
	color: #ccd9ff;
	font-size: 40px;
}
h2{
	text-align: center;
	font-size: 10px;
}
h3{
    text-align: center;
    color: white;
}
div{
    text-align: center;
    color: white;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content sz*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}ent
